.Body{
    text-align: center;
    display: flex;
}

.Box {
    position: relative;
    width: 300px; /* Adjust according to your image dimensions */
    height: 400px; /* Adjust according to your image dimensions */
    padding: 10px;
}

.Body a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.TextOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Rounded corners for the overlay */
}

/* Body.css */

/* Styles for slideshow container */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

/* Style for slides */
.slidesFade {
    display: none; /* Hide all slides by default */
}

/* Style for active slide */
.slidesFade.active {
    display: block; /* Show active slide */
}

/* Style for previous and next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Positioning for the previous button */
.prev {
    left: 0;
}

/* Positioning for the next button */
.next {
    right: 0;
}

.headline {
    text-align: center;
    margin-top: 20px;
    font-family: "Gill Sans";
}

.headline h2 {
    font-size: 60px;
    font-family: "Gill Sans";
    color: #174252;
    margin-top: 60px;
}

.headline p {
    font-size: 30px;
    font-family: "Gill Sans";
    color: #174252;
    width: 80%;
    text-align: left;
    margin-bottom: 5%;
}

.buttons-container {
    text-align: center;
    margin-bottom: 7%;
}

.button {
    padding: 1.5% 7.4%;
    margin: 0 1%;
    font-size: 188%;
    background-color: #afe08b;
    color: #174252;
    font-family: "Gill Sans";
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

/* Body.css */
.cards-container {
    display: flex;
    margin-bottom: 20%;
    justify-content: center;
}

.card {
    width: 500px; /* Adjust the width as needed */
    height: auto;
    box-shadow: 0 10% 10% rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0 0.3%; /* Adjust the margin to reduce space between cards */

}

.card:hover {
    transform: translateY(-5px);
}
